<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sinocall.guess">

    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-sdk tools:overrideLibrary="android.support.v4"></uses-sdk>

    <application
        android:name=".GuessApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo64x64"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--首页-->
        <activity
            android:name=".activitys.GuessLoginActivity"
            android:theme="@style/login_style"></activity>

        <!--中间页-->
        <activity
            android:name=".activitys.GuessFlashActivity"
            android:theme="@style/login_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--引导页-->
        <activity
            android:name=".activitys.GuessGuideActivity"
            android:theme="@style/login_style"></activity>

        <!--启动页-->
        <activity
            android:name=".activitys.GuessStartPageActivity"
            android:theme="@style/login_style"></activity>

        <!--登录页-->
        <activity
            android:name=".activitys.MainActivity"
            android:launchMode="singleTask"></activity>

        <!--充值中心-->
        <activity android:name=".activitys.GuessPayCenterActivity"></activity>

        <!--发布与参与-->
        <activity android:name=".activitys.GuessMineJoinActivity">

        </activity>

        <!--发布内容-->
        <activity android:name=".activitys.GuessSendInfoActivity">

        </activity>

        <!--设置精彩内容-->
        <activity
            android:name=".activitys.GuessSettingContentActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible">

        </activity>

        <!--设置开奖条件-->
        <activity android:name=".activitys.GuessSettingAwardActivity">

        </activity>

        <!--选择类型标签-->
        <activity android:name=".activitys.GuessSelectLableActivity"></activity>

        <!--兑换中心-->
        <activity android:name=".activitys.GuessConvertCenterActivity"></activity>

        <!--兑换明细-->
        <activity android:name=".activitys.GuessConcertDetailsActivity">

        </activity>

        <!--设置-->
        <activity android:name=".activitys.GuessMineSettingsActivity">

        </activity>

        <!--我的流水-->
        <activity android:name=".activitys.GuessMiniWaterActivity">

        </activity>

        <!--裁剪图片-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--联系我们-->
        <activity android:name=".activitys.GuessAboutUsActivity"></activity>

        <!--加载html页面-->
        <activity android:name=".activitys.GuessWebViewActivity"></activity>

        <!--会员中心-->
        <activity
            android:name=".activitys.GuessVipCenterActivity"
            android:theme="@style/vip_style"></activity>

        <!--预览页面-->
        <activity android:name=".activitys.GuessLookActivity"></activity>

        <!--充值明细-->
        <activity android:name=".activitys.GuessPayDetailsActivity"></activity>

        <!--个推推送服务-->
        <service
            android:name=".service.GTPushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushService"></service>
        <service android:name=".service.GTPushIntentService"></service>

        <!--初始化接口服务-->
        <service android:name=".service.GuessInitInterfaceService"></service>

        <!--友盟appkey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="58be8c96677baa24d7001436"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />


        <!--友盟第三方分享-->
        <!--微博-->
        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>

        <!--service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false"></service>-->

        <!--微信-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--qq-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106018996" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <!--微信支付回调-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />

    </application>

</manifest>